<div class="hero">
    <div style="display: flex; flex-direction: row; justify-content: left;margin-left: 3%;">
        <div class="roll-in"><img src="../../../../assets/logo.svg" height="350px" width="380px"></div>
        <p class="hero-p" style="color: black;margin-top: 100px;margin-left: -55px;">ngular v17</p>
    </div>
</div>
<div class="divide">
    <app-carousel [slides]="slides" [animationType]="animationType"></app-carousel>
</div>




<div class="hero">
    <app-generate-pdf></app-generate-pdf>
</div>