<div class="hero">
    <h1 style="font-family: Poppins; font-size: 24px;font-weight: 500;color: rgb(0, 0, 0);" class="mt-lg-0 mt-sm-3"> About Us</h1>
    <div style="text-align: start;">
        
        <p class="lead">Announcing Angular.dev</p>
        <p style="font-family: Poppins;font-size: 18px; color: black;">
            New documentation and a better UX for all levels of developer
            Angular.dev teaches modern Angular development from the start.
        </p>
        <p>
            Some highlights include:
        </p>
        <p>
            📕 A new content structure, focused on teaching core Angular concepts for beginners, and digging deeper into
            in-depth guides for advanced developers
        </p>
        <p>
            🧱 All docs and examples are built with Standalone APIs for simplified development, including a fully
            rewritten
            Components guide
        </p>
        <p>
            ⚡️ Core web vitals guidance written in collaboration with Chrome’s Aurora team, including guides on Image
            Optimization and Performance Best Practices
        </p>
        <p>
            🌊 New guides for SSR and Hydration, for better app performance by default
        </p>
        <p>
            🔭 More helpful API Reference & CLI references (under development)
        </p>
        <p>
            ⚒️ Quick edit/refresh using the Vite dev server in our tutorials
        </p>
        <p>
            🚗 An updated public Roadmap
        </p>
        <p>
            🔍 Better search
        </p>
        <p> + a whole lot more!</p>
        <p>
            Our team remains committed to stability and backward compatibility, cornerstones of the framework’s
            reliability.
            We have updated guides on Keeping up-to-date and NgModules to ensure Angular.dev is helpful for all teams.
        </p>

    </div>
</div>