<div class="hero">
  <div class="login-container">
    <h4 class="login-title">Login-Page</h4>
  <hr>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
      <div class="formGroup mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="text" id="email" class="form-control"
          [class]="{invalid: loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched}"
          placeholder=" Enter email address" formControlName="email">
        @if (loginForm.get('email')?.hasError('required') &&
        loginForm.get('email')?.touched ) {
        <span style="font-family: poppins;color: red;;">Email address is required.</span>
        }
      </div>
      <div class="formGroup mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" id="password" class="form-control"
          [class]="{invalid: loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched}"
          placeholder="Enter password" formControlName="password">
        @if (loginForm.get('password')?.hasError('required') &&
        loginForm.get('password')?.touched ) {
        <span style="font-family: poppins;color: red;;">Password is required.</span>
        }
      </div>
      <p class="p-tag">Don't have an account ? <a class="a-tag" routerLink="/register">Create new account</a></p>
      <div class="submit-button">
        <button type="submit" class="btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>